doctype html
html
    Head
        title Gestão de tarefas
        metal(charset='utf-8')
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    body
        block content